<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <style type="text/css">
      .ng-invalid.ng-dirty {
        border-color: #FA787E;
      }

      .ng-valid.ng-dirty {
        border-color: #78FA89;
      }
    </style>
  </head>
  <body ng-controller="StoreController as store">
    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in store.products">
        <h3> <product-title></product-title> </h3>

        <!-- Image Gallery  -->
        <div class="gallery" ng-show="product.images.length">
          <img class="img img-circle img-thumbnail center-block" ng-src="{{ product.images[0] }}" />
          <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images"> <img ng-src="{{ image }}" height="100" width="100" /> </li>
          </ul>
        </div>

        <product-panels></product-panels>

      </div>
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
